<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
</head>
<body style="background-color: black; font-size: 35px;"><br>
    <center>
    <h2 style="color: aqua;font-size: 40px;">User Feedback</h2>
    <br><br>
    <table border="1">
        <thead>
            <tr>
                <th style="color: aqua;">User ID</th>
                <th style="color: aqua;">FeedBack</th>
                
            </tr>
        </thead>
        <tbody>
            {% for row in user_data %}
                <tr>
                    <td style="color: aqua;">{{ row[1] }}</td>
                    <td style="color: aqua;">{{ row[2] }}</td>                    
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</center>
<br><br>    
    <a style="background-color: aqua; color: black; font-weight: 500; font-size: 28px;" href="/">Back to Home</a>
</body>
</html>
